<a href="https://colab.research.google.com/github/lordoz234/ML/blob/master/New_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [196]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [0]:
data = pd.read_csv('/content/drive/My Drive/files/ku8.csv')

In [199]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   files                               660 non-null    object
 1   is_eulerian                         660 non-null    bool
 2   degree                              660 non-null    int64
 3   is_multigraphical                   660 non-null    bool
 4   is_pseudographical                  660 non-null    bool
 5   maximal_matching                    660 non-null    int64
 6   number_of_cliques                   660 non-null    int64
 7   rich_club_coefficient               660 non-null    float64
 8   average_shortest_path_length        660 non-null    float64
 9   s_metric                            660 non-null    float64
 10  wiener_index                        660 non-null    float64
 11  single_source_shortest_path_length  660 non-null    int64
 12  population                          660 non-null    object
 13  super_population                    660 non-null    object
dtypes: bool(3), float64(4), int64(4), object(3)
memory usage: 58.8+ KB

In [200]:
data.sample(3)

           files  is_eulerian  ...  population  super_population
505  HG03139.txt        False  ...         ESN               AFR
351  HG03054.txt        False  ...         MSL               AFR
240  HG02108.txt        False  ...         ACB               AFR

[3 rows x 14 columns]

In [0]:
data['is_eulerian'] = data['is_eulerian'].map({True: 1, False: 0})
data['is_multigraphical'] = data['is_multigraphical'].map({True: 1, False: 0})
data['is_pseudographical'] = data['is_pseudographical'].map({True: 1, False: 0})

In [202]:
data.sample(3)

           files  is_eulerian  ...  population  super_population
271  NA18517.txt            0  ...         YRI               AFR
54   HG02624.txt            0  ...         GWD               AFR
563  HG03556.txt            0  ...         MSL               AFR

[3 rows x 14 columns]

In [0]:
data['population'] = data['population'].map({'ASW': 1, 'YRI': 2, 'LWK': 3, 'JPT': 4, 'CDX': 5, 'CEU': 6, 'CHB': 7, 'GIH': 8, 'GWD': 9, 'MSL': 10, 'IBS': 11, 
                                             'TSI': 12, 'PJL': 13, 'ESN': 14, 'MXL': 15, 'CLM': 16, 'PEL': 17, 'CHS': 18, 'PUR': 19, 'FIN': 20, 'KHV': 21,
                                             'BEB': 22, 'ACB': 23, 'ITU': 24, 'GBR': 25, 'STU': 26})
data['super_population'] = data['super_population'].map({'EUR': 1, 'EAS': 2, 'AMR': 3, 'SAS': 4, 'AFR': 5})

In [204]:
data.set_index(["super_population", "population"]).count(level="population")

            files  ...  single_source_shortest_path_length
population         ...
1              61  ...                                  61
2             107  ...                                 107
3              99  ...                                  99
9             113  ...                                 113
10             85  ...                                  85
14             99  ...                                  99
23             96  ...                                  96

[7 rows x 12 columns]

In [205]:
data.sample(3)

           files  is_eulerian  ...  population  super_population
135  NA18486.txt            0  ...           2                 5
648  HG02882.txt            0  ...           9                 5
349  HG03078.txt            0  ...          10                 5

[3 rows x 14 columns]

In [206]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   files                               660 non-null    object
 1   is_eulerian                         660 non-null    int64
 2   degree                              660 non-null    int64
 3   is_multigraphical                   660 non-null    int64
 4   is_pseudographical                  660 non-null    int64
 5   maximal_matching                    660 non-null    int64
 6   number_of_cliques                   660 non-null    int64
 7   rich_club_coefficient               660 non-null    float64
 8   average_shortest_path_length        660 non-null    float64
 9   s_metric                            660 non-null    float64
 10  wiener_index                        660 non-null    float64
 11  single_source_shortest_path_length  660 non-null    int64
 12  population                          660 non-null    int64
 13  super_population                    660 non-null    int64
dtypes: float64(4), int64(9), object(1)
memory usage: 72.3+ KB

In [0]:
filter = data['population'] == 2
filter1 = data['population'] == 9
data = data.where(filter | filter1)

In [208]:
data = data.dropna(axis="rows", how="any")
print(data)

           files  is_eulerian  ...  population  super_population
0    HG02623.txt          0.0  ...         9.0               5.0
2    HG02810.txt          0.0  ...         9.0               5.0
3    HG02804.txt          0.0  ...         9.0               5.0
10   NA19117.txt          0.0  ...         2.0               5.0
12   NA19113.txt          0.0  ...         2.0               5.0
..           ...          ...  ...         ...               ...
648  HG02882.txt          0.0  ...         9.0               5.0
651  HG02666.txt          0.0  ...         9.0               5.0
654  NA18933.txt          0.0  ...         2.0               5.0
656  NA18853.txt          0.0  ...         2.0               5.0
659  NA18489.txt          0.0  ...         2.0               5.0

[220 rows x 14 columns]

In [0]:
X, y = data.drop(['population','files', 'super_population', 'is_eulerian', 'is_multigraphical', 'is_pseudographical'], axis = 1), data['population']

In [210]:
X.shape, y.shape

((220, 8), (220,))

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_holdout,  y_train, y_holdout = \
    train_test_split(X, y, test_size=.1, random_state=251)

In [213]:
X_train.shape, X_holdout.shape

((198, 8), (22, 8))

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, StratifiedKFold, ShuffleSplit, RepeatedKFold, cross_val_predict
cv = ShuffleSplit(n_splits=1, test_size=0.1)

In [0]:
depth = np.arange(2, 52)
parameters = {'criterion':('gini', 'entropy'), 
              'max_depth': depth
             }
best_tree = GridSearchCV(DecisionTreeClassifier(), parameters, scoring='accuracy', cv = cv)

In [216]:
ans = 0
for i in range(10):
    best_tree.fit(X_train, y_train)
    ans += best_tree.best_score_
print(ans/10)

0.7100000000000001

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
param_grid = {'n_neighbors':np.arange(1,62), 
              'weights': ['uniform', 'distance'],
              'metric': ['minkowski', 'euclidean', 'manhattan']}
best_knn = GridSearchCV(KNeighborsClassifier(), param_grid=param_grid, scoring='accuracy', cv = cv)

In [219]:
ans = 0
for i in range(10):
    best_knn.fit(X_train, y_train)
    ans += best_knn.best_score_
print(ans/10)

0.73

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
param_grid = {
    'n_estimators': [200],
    'max_features': ['sqrt'],
    'max_depth' : range(2, 20, 3),
    'criterion' :['gini', 'entropy'],
}
best_forest = GridSearchCV(RandomForestClassifier(), param_grid=param_grid, scoring='accuracy', cv = cv)

In [222]:
ans = 0
for i in range(10):
    best_forest.fit(X_train, y_train)
    ans += best_forest.best_score_
print(ans/10)

0.665

In [0]:
from sklearn.ensemble import GradientBoostingClassifier

In [0]:
parameters = {
    "learning_rate": [0.01, 0.025, 0.05, 0.075, 0.1],
    "max_depth": range(2, 52, 2),
    "max_features":["log2","sqrt"],
    "n_estimators":[10],
    }
best_boost = GridSearchCV(GradientBoostingClassifier(), param_grid=parameters, scoring='accuracy', cv = cv)

In [0]:
ans = 0
for i in range(10):
    best_boost.fit(X_train, y_train)
    ans += best_boost.best_score_
print(ans/10)

In [0]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier(n_estimators=100, max_features=100)
                       
gsc = GridSearchCV(
    estimator=model,
    param_grid={
        'max_features': range(2,10,2),
        'max_depth': range(2, 30, 3)
    },
    cv=cv
)

In [0]:
ans = 0
for i in range(10):
    gsc.fit(X_train, y_train)
    ans += gsc.best_score_
print(ans/10)

In [0]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=100)
                       
gsc1 = GridSearchCV(
    estimator=model,
    param_grid={
        "learning_rate": [0.01, 0.025, 0.05, 0.075, 0.1],
    },
    cv=cv
)

In [0]:
ans = 0
for i in range(10):
    gsc1.fit(X_train, y_train)
    ans += gsc1.best_score_
print(ans/10)